GOOSE_DRIVER=mysql
GOOSE_DBSTRING=go_user_system:your_mysql_password@tcp(127.0.0.1:3306)/go_user_system?parseTime=true&multiStatements=true
GOOSE_MIGRATION_DIR=./migrations

# Windows Docker Desktop note:
# If 127.0.0.1:3306 is occupied by a local MySQL process, use:
# GOOSE_DBSTRING=go_user_system:your_mysql_password@tcp([::1]:3306)/go_user_system?parseTime=true&multiStatements=true
